.cabecera {
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    background-color: #ffbf53;
    text-align: center;
}

.filas {
	text-align: center;
	background-color: #ffcb99;
	color: #ffffff;
	border: 1px solid;
	padding: 5px;
	margin:10px;
}


/* table { */
/* 	float:left; */
/* } */

#boton {
	margin-top:10px;
}